<%= form_for( @object, :remote => true) do |f| %>
<div class='container'>
  <div class='span-2'><%= f.select :tel_type, InputType.where(:type_name => 'tel').map { |c| [c.type_text, c.type_text] },  :class => 'data-field' %></div>
  <div class='span-4'><%= f.telephone_field :tel %></div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

