<div id='<%= dom_id row %>'>
  <span style='display:inline-block;width:160px;'><%= best_in_place row, :email_address %></span>
  <%= link_to 'Del', email_path(row), :method => :delete, :confirm => 'r u sure?', :remote => true%>
</div>
