@import '../color_define';
/* main nav */
.site-nav-wrapper {background-color: $bg_color_hot;}
.site-nav{
	height: 32px;
	list-style: none;
	li {
		float:left;
		font-size: 15px;
		font-weight: bold;
		a {
			border-right: solid 1px $color_link_light;
			color: white;
			line-height: 32px;
			padding: 0 16px;
			text-decoration: none;
		}
    a:hover {text-decoration: underline;}
	}
	li.last {
		a { border-right: none;}
	}

  .menu.current a {
	  position:relative;right:1px;margin-right:-2px;
    border:none;background-color:#fff;
    padding:10px 16px 8px 16px;
    color:#000;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
    text-decoration: none;
    cursor:default;
  } 
}

