@import 'color_define';

.data-field {
	font-size:110%;
}
.data-2num{
	width:34px;
}
.data-date{
	width: 100px;
}
.error{
	background-color: $bg_color_hot;
}

table.order-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  td { 
    padding:4px;
    border:solid 1px $ptn_2;
    vertical-align: top;
  } 
  td.thumb {width:80px;}
  td.tour-price {width: 220px;}
  
  tr.order-head {background-color: $ptn_3; font-size: 90%;}
}

.my-orders{ 
  float:right; width:200px;border:solid 1px $ptn_4;padding:8px;
  background-color: $ptn_3;
  ul{
    li {margin-bottom: 6px;}
  }
}
