.login-div{
  border:solid 6px white;
  width: 550px;
  margin: 20px auto;
  padding: 8px;
  input[type='text'], input[type='password'] {
    background-color: white;
  }
  div { margin: 6px; }
}

div#error_explanation {
  border:solid 1px #cd0a0a;
  background-color: #fef1ec;
  padding: 6px;
  h2 { font-weight: bold;font-size: 110%;}

}
