.gen {
  border:solid 1px green;padding:4px;
  li {list-style:none;}
  .gen-tour {float:left;font-weight:bold;}
  .gen-title {}
  .gen-days li {float:left;margin-right:16px;}
}

.fixed {
  padding: 10px; 
  left: 416x; top: 94px; 
  width:140px; height:30px; 
  background-color: yellow; 
  position:fixed; z-index:2010;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}

#gen_schedules_operate_box {display:none;}

