.pay-amount {font-size: 120%; font-weight:bold;}
input.large-amount {font-size: 30px; font-weight:bold; width: 100px;}
#rooms div.container div {line-height:30px;}
#tels div.container div {line-height:30px;}
#emails div.container div {line-height:30px;}
#addresses div.container div {line-height:30px;}
input[type=tel]{ width:140px;}
